<meta charset="UTF-8">
<title>Testnet</title>
<meta name="description" content="Testnet - Experiment with the Future.">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
<link rel="manifest" href="./img/favicon/site.webmanifest">
<link rel="shortcut icon" href="./img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="./img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta property="og:title" content="Testnet">
<meta property="og:description" content="Testnet - Experiment with the Future.">
<meta name="twitter:title" content="Testnet">
<meta name="twitter:description" content="Testnet - Experiment with the Future.">
<meta property="og:image" content="./img/screen.png">
<meta name="twitter:image" content="./img/screen.png">
<meta name="image" content="./img/screen.png">
<meta property="og:url" content="https://testnet.global/">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://testnet.global/">
<meta name="url" content="https://testnet.global/">
<link href="https://testnet.global/" rel="canonical">
<link rel="stylesheet" href="./css/app.min.css">
<script>history.scrollRestoration = "manual"</script>
