<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDN94E7VmUG9wkz7jh7sMipiMdokmrIv_o",
    authDomain: "testnet-155a1.firebaseapp.com",
    databaseURL: "https://testnet-155a1.firebaseio.com",
    projectId: "testnet-155a1",
    storageBucket: "testnet-155a1.appspot.com",
    messagingSenderId: "977640625026"
  };
  firebase.initializeApp(config);
</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="./js/main.js"></script>
