<div class="banner-form">
  <form action="" class="banner-form__wrapper">
    <div class="banner-info">
      <p class="banner-title__light">
        KEEP UP TO DATE
      </p>
      <p class="banner-title__dark">get on our mailing list</p>
    </div>
    <div class="input-wrapper">
      <i class="icon icon-mail"></i>
      <input
        type="email"
        role="input"
        placeholder="Your email"
        class="is-input"
      />
    </div>
    <button type="submit" role="button" class="is-btn">
      Subscribe
    </button>
  </form>
</div>
