<section class='section-height__small section-bg__grey flex__center is-banner__button'>
	<div class="is-container">
		<div class="flex__column flex__center">
			<div class="is-h2 banner-default__copies">
				Make <span class="text-pink">equality</span>, <span class="text-green">inclusion</span>, and
				<span class="text-red">respect</span> a HABIT at your office
			</div>
			<a href="./contacts.html" class="is-btn is-btn-base" role="link" title="Get Started">Get Started</a>
		</div>
	</div>
</section>
