<div class="is-carousel__wrapper">
  <div class="banner-title__dark banner-title__mobile">
    How does it work
  </div>

  <div id="isCarousel" class="is-carousel">
    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/1.png" alt="" />
      </div>

      <div class="is-carousel__footer">
        <p>
          Tell us who you are
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/2.png" alt="" />
      </div>
      <div class="is-carousel__footer">
        <p>
          Choose your type of <br />
          business
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/3.png" alt="" />
      </div>

      <div class="is-carousel__footer">
        <p>
          Select a suitable vehicle <br />
          and up-fit
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/4.png" alt="" />
      </div>

      <div class="is-carousel__footer">
        <p>
          Let us help you with your <br />
          trade in
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/5.png" alt="" />
      </div>
      <div class="is-carousel__footer">
        <p>
          Provide payment method
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/6.png" alt="" />
      </div>

      <div class="is-carousel__footer">
        <p>
          Get approved and <br />
          finalize subscription
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/7.png" alt="" />
      </div>

      <div class="is-carousel__footer">
        <p>
          Enjoy the moshn vehicle <br />
          and service
        </p>
      </div>
    </div>

    <div class="is-carousel__item">
      <div class="is-carousel__img">
        <img src="./../assets/img/carousel/8.png" alt="" />
      </div>
      <div class="is-carousel__footer">
        <p>
          Upgrade anytime
        </p>
      </div>
    </div>
  </div>

  <div class="is-carousel__dots">
    <i class="icon is-icon-arrow-right"> </i>
  </div>
</div>
