<section class='section-carousel'>
	<div class="is-container">
		<div id="citeSlider">
			<div class="is-cite">
				<div class="is-cite__copies">
					<span>
						Change is not inevitable - it happens only when each of us does what we can.
					</span>
				</div>

				<div class="is-cite__author">
					Tina Tchen
				</div>
			</div>

			<div class="is-cite">
				<div class="is-cite__copies">
					<span>
						Just as there is no going back to the days of the closet for LGBT people, retreating passively is no longer an acceptable alternative for women either.
					</span>
				</div>

				<div class="is-cite__author">
					Robbie Kaplan
				</div>
			</div>

			<div class="is-cite">
				<div class="is-cite__copies">
					<span>
						We've been training for legal compliance. We haven't been training for the culture we want.
					</span>

				</div>

				<div class="is-cite__author">
					Tina Tchen
				</div>
			</div>
		</div>
	</div>
</section>
