<div class="is-description">
  <div class="banner-title__primary">
    ONE SUBSCRIPTION - two applications
  </div>

  <div class="is-container">
    <div class="is-description__wrapper">
      <div class="is-description__block">
        <div class="banner-title__secondary">
          OWNER
        </div>

        <ul role="list" class="is-description__list">
          <li role="listitem">
            <p>Easy and fast approval <span>(No credit check)</span></p>
          </li>
          <li role="listitem">Subscription instead of Purchase</li>
          <li role="listitem">
            Sign up for as many vehicles as you need and adjust over time, no
            down payment required
          </li>
          <li role="listitem">
            Get Fleet management support from dedicated moshn assistants
          </li>
          <li role="listitem">
            Fleet visibility and analytics to help optimize your spend
          </li>
          <li role="listitem">
            Stay safe and ahead of the competition with a modern well maintained
            fleet
          </li>
        </ul>
      </div>

      <div class="is-description__img-wrapper">
        <p class="is-description__img-title">owner</p>
        <img
          src="./../assets/img/phones.png"
          class="is-description__img"
          alt="Phones"
        />
        <p class="is-description__img-title">driver</p>
      </div>

      <div class="is-description__block">
        <div class="banner-title__secondary">
          DRIVER
        </div>

        <ul role="list" class="is-description__list">
          <li role="listitem">
            Drive a modern, safe and well maintained vehicle
          </li>
          <li role="listitem">Plan ahead with pre-scheduled maintenance</li>
          <li role="listitem">
            Let your boss know where you are through the moshn app
          </li>
          <li role="listitem">
            Cool ride when you are "off duty"...
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
