<footer role='contentinfo' class="is-footer">
  <div class="is-container last-in-column">
    <div class="is-column">
      <h3 class="is-colorful">Get in touch:</h3>
      <a class="main-link" href="mailto:sally@tldr.capital" role="link">sally@tldr.capital</a>
    </div>

    <div class="is-column">

      <p class="footer-text">
  Join our mailing list to<br/>
  stay up to date on all<br/>
  things TESTNET:
</p>

      <div class="footer-form">
        <form action="" id="sendEmailForm" class="is-form">
          <input  class="form-input" type="email" placeholder="EMAIL ADDRESS" />
          <button type="submit" role="button" class="is-btn is-btn-svg is-btn-submit">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
            </svg>
            Submit
          </button>
        </form>

        <div class="form-answer">
            <img src="./img/icon-check.png" alt="Check icon" />
            YOU’RE ON THE LIST
        </div>
      </div>
    </div>

  </div>
</footer>