<footer role="contentinfo" class="is-footer">
  <div class="is-footer-wrapper">
    <p class="copyright">
      moshn mobility inc. 2019 All Rights Reserved
    </p>

    <ul role="list" class="is-footer__links">
      <li role="listitem">
        <a href="terms.html" role="link">Terms & Conditions</a>
      </li>
      <li role="listitem">
        <a href="privacy.html" role="link">Privacy Policy</a>
      </li>
    </ul>

    <ul role="list" class="is-footer__socials">
      <li role="listitem">
        <a
          href="https://twitter.com/mobilitymoshn"
          role="link"
          title="Twitter"
          class="is-footer__social"
          target="_blank"
        >
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li role="listitem">
        <a
          href="https://www.facebook.com/stayinmoshn/"
          role="link"
          title="Facebook"
          class="is-footer__social"
          target="_blank"
        >
          <i class="icon icon-facebook-light"></i>
        </a>
      </li>
      <li role="listitem">
        <a
          href="https://www.instagram.com/moshnmobility/"
          role="link"
          title="Instagram"
          class="is-footer__social"
          target="_blank"
        >
          <i class="icon icon-insta"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
