<div class="is-footer-form" id="contacts">
  <div class="is-footer-form__wrapper">
    <div class="is-footer-form__column">
      <p class="is-footer-form__title">
        Contact
      </p>

      <div class="is-footer-form__block">
        <div class="is-footer-form__contacts">
          <a href="tel:123qwe" role="link" class="is-footer-form__link"
            >Phone: 1(650) 407 1407</a
          >

          <a href="/" role="link" title="MOSHN Main page">
            <img src="./../assets/img/logo-lg.svg" alt="Logo" />
          </a>
        </div>
      </div>
    </div>

    <div class="is-footer-form__column">
      <p class="is-footer-form__title">
        About us
      </p>

      <div class="is-footer-form__block">
        <ul role="list" class="is-footer-form__menu">
          <li role="listitem">
            <a href="#" role="link" class="is-footer-form__link"
              >moshn de·vo·tion</a
            >
          </li>
          <li role="listitem">
            <a href="blog.html" role="link" class="is-footer-form__link"
              >Blog</a
            >
          </li>
          <li role="listitem">
            <a href="terms.html" role="link" class="is-footer-form__link"
              >User terms</a
            >
          </li>
          <li role="listitem">
            <a href="privacy.html" role="link" class="is-footer-form__link"
              >Privacy</a
            >
          </li>
          <li role="listitem">
            <a href="faq.html" role="link" class="is-footer-form__link">FAQ</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="is-footer-form__column">
      <p class="is-footer-form__title">
        Send us a note
      </p>

      <div class="is-footer-form__block">
        <form action="">
          <input type="text" placeholder="Name" class="is-input__small" />
          <input
            type="email"
            placeholder="Your email"
            class="is-input__small"
          />
          <input
            type="tel"
            placeholder="Phone number"
            class="is-input__small"
          />
          <textarea
            type="text"
            placeholder="Your message"
            class="is-input__textarea"
          ></textarea>

          <button type="submit" role="button" class="is-btn-light">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
