<header role='header' class='is-header' id="isHeader">
  <button type="button" role="button" class="is-nav__btn" id="navBtn">
    <span class="nav-line__1"></span>
    <span class="nav-line__2-1"></span>
    <span class="nav-line__2-2"></span>
    <span class="nav-line__3"></span>
  </button>

  <nav role="navigation" id="isNav" class="is-nav">

    <figure class="is-nav__image">
      <img src="./img/logo-colorful.png" alt="Testnet logo" />
    </figure>

    <ul role="list">
      <li role="listitem">
        <a href="#homeBlock" role="link" class="is-nav__link is-nav__link-1 is-active">
          <svg>
            <circle class="circle-back" cx="12" cy="12" r="12" fill="transparent" stroke-width="0"/>
            <circle class="circle-front" cx="12" cy="12" r="12" fill="#fdea01" stroke="#fff" stroke-width="8"
                    fill-opacity="0" ;/>
          </svg>

          <span>Home</span>
        </a>
      </li>

      <li role="listitem">
        <a href="#eventBlock" role="link" class="is-nav__link  is-nav__link-2">
          <svg>
            <circle class="circle-back" cx="12" cy="12" r="12" fill="transparent" stroke-width="0"/>
            <circle class="circle-front" cx="12" cy="12" r="12" fill="#fdea01" stroke="#fff" stroke-width="8"
                    fill-opacity="0" ;/>
          </svg>

          <span>Event</span>
        </a>
      </li>

      <li role="listitem">
        <a href="#membersBlock" role="link" class="is-nav__link  is-nav__link-3">
          <svg>
            <circle class="circle-back" cx="12" cy="12" r="12" fill="transparent" stroke-width="0"/>
            <circle class="circle-front" cx="12" cy="12" r="12" fill="#fdea01" stroke="#fff" stroke-width="8"
                    fill-opacity="0" ;/>
          </svg>

          <span>Members</span>
        </a>
      </li>

      <li role="listitem">
        <a href="#reportBlock" role="link" class="is-nav__link  is-nav__link-4">
          <svg>
            <circle class="circle-back" cx="12" cy="12" r="12" fill="transparent" stroke-width="0"/>
            <circle class="circle-front" cx="12" cy="12" r="12" fill="#fdea01" stroke="#fff" stroke-width="8"
                    fill-opacity="0" ;/>
          </svg>

          <span>Report</span>
        </a>
      </li>

      <li role="listitem">
        <a href="#partnersBlock" role="link" class="is-nav__link  is-nav__link-5">
          <svg>
            <circle class="circle-back" cx="12" cy="12" r="12" fill="transparent" stroke-width="0"/>
            <circle class="circle-front" cx="12" cy="12" r="12" fill="#fdea01" stroke="#fff" stroke-width="8"
                    fill-opacity="0" ;/>
          </svg>

          <span>Supporters</span>
        </a>
      </li>
    </ul>

    <div class="is-nav__email">
      <p>
        Get in touch:
      </p>
      <a href="#" href="mailto:sally@tldr.capital" role="link">
        sally@tldr.capital
      </a>
    </div>
  </nav>

  <a href="#" class="is-logo is-logo__vr" role="link">
    <img src="./img/logo.svg" class="block-logo header-logo"  alt="Testnet"/>
  </a>
</header>
