<meta charset="UTF-8">
<title>HABIT</title>
<meta name="description" content="A new approach to harassment prevention training, founded by leaders in the
#MeToo movement and the Time's Up Legal Defense Fund">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:title" content="HABIT">
<meta property="og:description" content="A new approach to harassment prevention training, founded by leaders in the
#MeToo movement and the Time's Up Legal Defense Fund">
<meta name="twitter:title" content="HABIT">
<meta name="twitter:description" content="A new approach to harassment prevention training, founded by leaders in the
#MeToo movement and the Time's Up Legal Defense Fund">
<meta property="og:image" content="screen.png">
<meta name="twitter:image" content="screen.png">
<meta name="image" content="screen.png">
<meta property="og:url" content="https://site.com/">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://site.com/">
<meta name="url" content="https://site.com/">
<link href="https://site.com/" rel="canonical">
<link rel="stylesheet" href="/css/app.min.css">

<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<style>
	#preloading {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10000;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: #fff;
	}

	#preloading.is-hidden {
		opacity: 0;
		transition: opacity .1s .2s;
	}

	#preloading.is-hidden svg{
		width: 0;
		transition: .25s;
	}

	#preloading svg {
		width: 100px;
		animation: rotateImg 2s infinite linear;
	}

	@keyframes rotateImg {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}

	@-webkit-keyframes rotateImg {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(359deg);
		}
	}
</style>
