<div id="preloading">
  <img src="./../assets/img/logo-lg.svg" alt="MOSHN logo" />
</div>
<header role="header" class="is-header">
  <div class="is-header__wrapper">
    <div class="is-header__row">
      <a href="/" role="link" class="is-logo">
        <img src="./../assets/img/logo.svg" alt="Logo" />
      </a>

      <div id="navBtn" class="navigation-btn__wrapper">
        <button class="navigation-btn">
          <span></span>
        </button>
      </div>
    </div>

    <nav role="navigation" class="is-navigation">
      <ul role="list">
        <li role="listitem">
          <a href="about.html" role="link" class="navigation-link"
            >About MOSHN</a
          >
        </li>
        <li role="listitem">
          <a href="blog.html" role="link" class="navigation-link">Blog</a>
        </li>
        <li role="listitem">
          <a href="#contacts" role="link" class="navigation-link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="is-header__socials">
      <ul role="list">
        <li role="listitem">
          <a
            href="https://twitter.com/mobilitymoshn"
            role="link"
            title="Twitter"
            class="is-header__social"
            target="_blank"
          >
            <i class="icon icon-twitter"></i>
          </a>
        </li>
        <li role="listitem">
          <a
            href="https://www.facebook.com/stayinmoshn/ "
            role="link"
            title="Facebook"
            class="is-header__social"
            target="_blank"
          >
            <i class="icon icon-facebook-light"></i>
          </a>
        </li>
        <li role="listitem">
          <a
            href="https://www.instagram.com/moshnmobility/"
            role="link"
            title="Instagram"
            class="is-header__social"
            target="_blank"
          >
            <i class="icon icon-insta"></i>
          </a>
        </li>
      </ul>

      <button role="button" type="button" class="is-btn-lg" data-modal="form">
        Subscribe
      </button>
    </div>
  </div>
</header>
