<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta property="og:site_name" content="MOSHN site name" />
<meta name="twitter:card" content="summary" />
<meta property="og:url" content="https://dev.moshn.ai" />
<meta name="twitter:url" content="https://dev.moshn.ai" />
<meta property="og:title" content="MOSHN site title" />
<meta name="twitter:title" content="MOSHN site title" />
<meta
  property="og:description"
  content="The user trust system is a fundamental cornerstone of Discourse. Trust levels are a way of… Sandboxing new users in your community so that they cannot accidentally hurt themselves, or other users while they are learning what to do. Granting experienced users more rights over time, so that they can help everyone maintain and moderate the community they generously contribute so much of their time to. As documented in Community Building on the Web, there is a natural progression for participants in any community. This [&hellip;]"
/>
<meta
  name="twitter:description"
  content="The user trust system is a fundamental cornerstone of Discourse. Trust levels are a way of… Sandboxing new users in your community so that they cannot accidentally hurt themselves, or other users while they are learning what to do. Granting experienced users more rights over time, so that they can help everyone maintain and moderate the community they generously contribute so much of their time to. As documented in Community Building on the Web, there is a natural progression for participants in any community. This [&hellip;]"
/>

<meta
  property="og:image"
  content="https://dev.moshn.ai/assets/img/screen.jpg"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta
  name="twitter:image"
  content="https://dev.moshn.ai/assets/img/screen.jpg"
/>
<meta property="telegram_channel" content="turbolabit" />

<link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/app.min.css" />

<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css"
/>
<style>
  #preloading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
  }

  #preloading.is-hidden {
    opacity: 0;
    transition: opacity 0.35s 0.2s;
  }

  #preloading img {
    width: 200px;
  }
</style>
