<main role='main' id="eventBlock" class="is-screen is-screen__fixed-height is-default-block is-event-block">
  <div class="is-container">
    <div class="is-wrapper">
      <div class="is-column">
        <figure>
          <img src="./img/logo.svg" class="block-logo"  alt="Testnet"/>
        </figure>

        <h2>
  What Does TESTNET Look Like?
</h2>

<p>
  TESTNET hosts global events to gather a diverse set of key industry stakeholders to identify and share: Trends that are likely to play out in the near term and how we best address them; region and sector specific challenges and strategies from relevant local players; and why those perspectives are important to the space as a whole. Beyond our summits, TESTNET also seeks to provide an “alumni network” to help foster relationships built between members.
</p>


      </div>

      <div class="is-column copies-column">
        <img src="./img/icon-1.svg" alt="Icon part 1"/>

        <p>
  Part 1 of our summit focuses on content. We unite to share key insights into what is shaping blockchain and highlight key takeaways to move the needle. These aren't the powering talks focused on selling that litter traditional conferences. Honesty and tackling Crypto's biggest ideas are at the heart of the day's events.
</p>

      </div>

      <div class="is-column copies-column">
        <img src="./img/icon-2.svg" alt="Icon part 1"/>

        <p>
  Part 2 builds networks. Conversation, collaboration, and honest human connection, is the key to propelling any initiative forward. Summits aim to nurture that over a relaxing “anti-conference” experience different to the bedlam and noise that mars the industry norm.
</p>


      </div>
    </div>

    

  </div>
</main>
