<section id="membersBlock" class="is-screen is-screen__fixed-height is-default-block is-members-block">
  <div class="is-container">
    <div class="is-wrapper">
      <div class="is-column">
        <figure>
          <img src="./img/logo.svg" class="block-logo"  alt="Testnet"/>
        </figure>

        <h2>
          Founding Members
        </h2>

        <p class="is-subtitle">
  TESTNET is a community-driven collective of investors, creators, and futurists with a shared passion around pushing the acceptance and usage of blockchain
</p>

      </div>
    </div>
  </div>

  <div class="is-container is-container-lg">
    <div id="membersPhotoWrapper" class="is-members__photo">

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/MikeMaples.jpg" alt="Mike Maples photo" />
  </div>

  <div class="is-member__name">
    Mike Maples
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Partner
    </div>

    <div class="is-member__company">
      Floodgate
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/aripaul.jpg" alt="Ari Paul photo" />
  </div>

  <div class="is-member__name">
    Ari Paul
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      CIO & Managing Partner
    </div>

    <div class="is-member__company">
      BlockTower Capital
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/ann.jpg" alt="Ann Miura-Ko photo" />
  </div>

  <div class="is-member__name">
    Ann Miura-Ko
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Partner
    </div>

    <div class="is-member__company">
      Floodgate
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/BrianLio.jpg" alt="Brian Lio photo" />
  </div>

  <div class="is-member__name">
    Brian Lio
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      CEO
    </div>

    <div class="is-member__company">
      Smith + Crown
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/tomgraham.jpg" alt="Tom Graham photo" />
  </div>

  <div class="is-member__name">
    Tom Graham
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Managing Partner
    </div>

    <div class="is-member__company">
      TLDR
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/Marco_Santori.png" alt="Marco Santori photo" />
  </div>

  <div class="is-member__name">
    Marco Santori
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      President & Chief
    </div>

    <div class="is-member__company">
      Blockchain
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/AngieLau.jpg" alt="Angie Lau photo" />
  </div>

  <div class="is-member__name">
    Angie Lau
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      CEO Narramur & former Bloomberg Lead Anchor
    </div>

    <div class="is-member__company">
      
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/MasatakaKakiya.jpg" alt="Masataka Kakiya photo" />
  </div>

  <div class="is-member__name">
    Masataka Kakiya
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Prev CEO
    </div>

    <div class="is-member__company">
      Smart Contract
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/PeterPace.jpg" alt="Peter Pace photo" />
  </div>

  <div class="is-member__name">
    Peter Pace
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Vice President
    </div>

    <div class="is-member__company">
      Goldman Sachs
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/LaurenKoldoney.jpg" alt="Lauren Koldoney photo" />
  </div>

  <div class="is-member__name">
    Lauren Koldoney
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Partner
    </div>

    <div class="is-member__company">
      Aspect Ventures
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/ManmeetSingh.jpg" alt="Manmeet Singh photo" />
  </div>

  <div class="is-member__name">
    Manmeet Singh
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Managing Partner
    </div>

    <div class="is-member__company">
      Emurgo (Cardano)
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/team_kayla.jpg" alt="Kayla Sanders photo" />
  </div>

  <div class="is-member__name">
    Kayla Sanders
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Founder and CEO
    </div>

    <div class="is-member__company">
      Remy
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/KendrickNguyen.jpg" alt="Kendrick Nguyen photo" />
  </div>

  <div class="is-member__name">
    Kendrick Nguyen
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      CEO
    </div>

    <div class="is-member__company">
      Republic
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/EmmaChanning.jpg" alt="Emma Channing photo" />
  </div>

  <div class="is-member__name">
    Emma Channing
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      CEO & General Counsel
    </div>

    <div class="is-member__company">
      Satis Group LLC
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/MeltemDemirors.jpg" alt="Meltem Demirors photo" />
  </div>

  <div class="is-member__name">
    Meltem Demirors
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Chief Strategy Officer
    </div>

    <div class="is-member__company">
      CoinShares
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/arjun.jpg" alt="Arjun Chopra photo" />
  </div>

  <div class="is-member__name">
    Arjun Chopra
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Partner
    </div>

    <div class="is-member__company">
      Floodgate
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/ANTHONYBELFIORE.jpg" alt="ANTHONY BELFIORE photo" />
  </div>

  <div class="is-member__name">
    ANTHONY BELFIORE
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Chief Security Officer
    </div>

    <div class="is-member__company">
      AON
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/caseynestat.jpg" alt="Casey Neistat photo" />
  </div>

  <div class="is-member__name">
    Casey Neistat
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      YouTube Personality
    </div>

    <div class="is-member__company">
      Filmmaker
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/davidWachsman.jpg" alt="David Wachsman photo" />
  </div>

  <div class="is-member__name">
    David Wachsman
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Founder
    </div>

    <div class="is-member__company">
      Wachsman
    </div>
  </div>
</div>

      <div class="is-member">
  <div class="is-member__img">
    <img src="./img/members/sally.jpg" alt="SALLY HADIDI photo" />
  </div>

  <div class="is-member__name">
    SALLY HADIDI
  </div>

  <div class="is-member__info">
    <div class="is-member__title">
      Curator
    </div>

    <div class="is-member__company">
      TESTNET
    </div>
  </div>
</div>

    </div>
  </div>
</section>
