<div class="is-modal-form" id="modalForm">
  <div class="banner-title__primary">
    STAY CONNECTED
  </div>

  <div class="banner-title__dark">
    Get early view <br />
    to our launch plans
  </div>
  <form action="" class="modal-form__wrapper">
    <div class="input-wrapper">
      <i class="icon icon-mail"></i>
      <input
        type="email"
        role="input"
        placeholder="Your email"
        class="is-input"
      />
    </div>
    <button type="submit" role="button" class="is-btn">Subscribe</button>
  </form>

  <img
    src="./../assets/img/modal-phone.png"
    alt="phone with screen"
    class="is-modal-img"
  />
</div>
