<div class="is-modal-contacts" id="modalContacts">
  <div class="banner-title__primary">
    Send us a note
  </div>

  <form action="">
    <input type="text" placeholder="Name" class="is-input__small" />
    <input type="email" placeholder="Your email" class="is-input__small" />
    <input type="tel" placeholder="Phone number" class="is-input__small" />
    <textarea
      type="text"
      placeholder="Your message"
      class="is-input__textarea"
    ></textarea>

    <button type="submit" role="button" class="is-btn-light">
      Send
    </button>
  </form>
</div>
