<section id="partnersBlock" class="is-screen is-screen__fixed-height is-default-block is-partnerts-block">
  <div class="is-container">
    <div class="is-wrapper">
      <div class="is-column">
        <figure>
          <img src="./img/logo.svg" class="block-logo"  alt="Testnet"/>
        </figure>

        <h2>
          Supporters
        </h2>

        <p>
  TESTNET is ultimately supported by a group of people who want to drive the space forward and see demystification, education, and collaboration as paramount to that goal. We invite everyone, from developers to corporates to investors, to be part of this community.
</p>

      </div>

      <div class="is-column">
        <div id="partnersLogoWrapper" class="logo-wrapper">

          <div class="is-partner-logo">
  <img src="./img/partners/tldr.png" alt= "TLDR logo" />
</div>


          <div class="is-partner-logo">
  <img src="./img/partners/floodgate.png" alt= "floodgate logo" />
</div>


          <div class="is-partner-logo">
  <img src="./img/partners/EMURGO.png" alt= "Emurgo logo" />
</div>


          <div class="is-partner-logo">
  <img src="./img/partners/SmithCrown.png" alt= "Smith + Crown logo" />
</div>


          <div class="is-partner-logo">
  <img src="./img/partners/SatisGroup.png" alt= "Satis Group logo" />
</div>


          <div class="is-partner-logo">
  <img src="./img/partners/BlocktowerCapital.png" alt= "Blocktower Capital logo" />
</div>


          <div class="is-partner-logo">
  <img src="./img/partners/Wachsman.png" alt= "Wachsman logo" />
</div>


        </div>

        <div class="btn-view-wrapper">
          <button id="partnersLogoBtn" class="is-btn is-btn-view" role="button" type="button">
            <span class="more">
              View more
            </span>
            <span class="less">
              View less
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <footer role='contentinfo' class="is-footer">
  <div class="is-container last-in-column">
    <div class="is-column">
      <h3 class="is-colorful">Get in touch:</h3>
      <a class="main-link" href="mailto:sally@tldr.capital" role="link">sally@tldr.capital</a>
    </div>

    <div class="is-column">

      <p class="footer-text">
  Join our mailing list to<br/>
  stay up to date on all<br/>
  things TESTNET:
</p>

      <div class="footer-form">
        <form action="" id="sendEmailForm" class="is-form">
          <input  class="form-input" type="email" placeholder="EMAIL ADDRESS" />
          <button type="submit" role="button" class="is-btn is-btn-svg is-btn-submit">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
            </svg>
            Submit
          </button>
        </form>

        <div class="form-answer">
            <img src="./img/icon-check.png" alt="Check icon" />
            YOU’RE ON THE LIST
        </div>
      </div>
    </div>

  </div>
</footer>
</section>