<a href="article-video.html" role="link" class="is-post is-post-video">
  <span class="is-post__img">
    <img
      src="https://st3.depositphotos.com/11452492/14539/v/600/depositphotos_145396849-stock-video-lot-of-people-and-cars.jpg"
      alt=""
    />
  </span>
  <span class="is-post__body">
    <span class="is-post__title">Future changes in the labor market</span>
    <span class="is-post__category">Category</span>
    <span class="is-post__text"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut aliqua.</span
    >
  </span>
</a>
