<section id="reportBlock" class="is-screen is-screen__fixed-height is-default-block is-report-block">
  <div class="is-container">
    <div class="is-wrapper">
      <div class="is-column">
        <figure>
          <img src="./img/logo.svg" class="block-logo"  alt="Testnet"/>
        </figure>

        <h2>
  Education
  and
  Learning
</h2>

<p>
  Adoption and education are core tenets of TESTNET. There is a dearth of good content that constructively demystifies the “world of blockchain and crypto”. We will use the TESTNET Summit as a foundation to build quality digital content to help drive the basic understanding of the space that is crucial for adoption. This series of content will be made available after the summit and will be an ongoing effort with members of the TESTNET community.
</p>

      </div>

      <div class="is-column">
        <div class="img-wrapper">
          <img src="./img/report-img.png" alt="Report image"/>
        </div>
      </div>
    </div>
  </div>
</section>
