<div class="is-slider">
  <div class="is-slider__header">
    <div class="is-slider__container">
      <img src="./../assets/img/slider/logo-title.svg" alt="MOSHN" />
    </div>
  </div>

  <div id="fullpage" class="is-slider__body">
    <div class="section section-0">
      <div class="is-slider__item">
        <div class="is-slider__container">
          <div class="is-slider__text">
            <img class="is-slider__smile" src="./../assets/img/smile.svg" />
            <div class="banner-title__primary">
              take control of your <br />
              business - we’ll take CARE <br />
              of your vehicles
            </div>

            <ul class="is-slider__list" role="listitem">
              <li role="list">
                Easy and fast approval
              </li>
              <li role="list">
                No money down. Sign up for as many or few vehicles as you need
                and adjust overtime as your business needs change
              </li>
              <li role="list">
                Subscribe to additional vehicles as business needs change
              </li>
            </ul>
          </div>

          <div class="is-slider__block">
            <div class="is-slider__img-wrapper">
              <img src="./../assets/img/slider/slider-0.png" alt="" />
              <p class="is-slider__subtitle">
                Vehicle<br />
                subscription
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-1">
      <div class="is-slider__item">
        <div class="is-slider__container">
          <div class="is-slider__text">
            <img class="is-slider__smile" src="./../assets/img/smile.svg" />
            <div class="banner-title__primary">
              Hi! I’m mo!<br />
              Presenting a<br />
              fleet manager<br />
              in your pocket
            </div>

            <ul class="is-slider__list" role="listitem">
              <li role="list">
                Easy and fast approval
              </li>
              <li role="list">
                Membership instead of purchase. Sign up for as many or few
                vehicles as you need and adjust overtime as your business needs
                change
              </li>
            </ul>
          </div>

          <div class="is-slider__block">
            <img
              src="./../assets/img/slider/phone-arm.png"
              alt=""
              class="is-slider__img-additional"
            />

            <img
              src="./../assets/img/slider/phone-arm-hd.png"
              alt=""
              class="is-slider__img-additional_HD"
            />

            <div class="is-slider__img-wrapper">
              <img src="./../assets/img/slider/slider-1.png" alt="" />

              <p class="is-slider__subtitle">
                Vehicle <br />
                subscription
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-2">
      <div class="is-slider__item">
        <div class="is-slider__container">
          <div class="is-slider__text">
            <img class="is-slider__smile" src="./../assets/img/smile.svg" />
            <div class="banner-title__primary">
              Subscription <br />
              options
            </div>

            <ul class="is-slider__list" role="listitem">
              <li role="list">
                Vehicle subscription - includes Car, Upfit, Support and
                maintenance.
              </li>
              <li role="list">
                Your Vehicle, Our Service - Fleet management software and
                services for the vehicles you own.
              </li>
              <li role="list">
                One off Services
              </li>
            </ul>
          </div>

          <div class="is-slider__block">
            <div class="is-slider__img-wrapper">
              <img src="./../assets/img/slider/slider-2.png" alt="" />
              <p class="is-slider__subtitle">
                subscription Vehicle trade-in for your current vehicles <br />
                Simple and competitive rates
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-3">
      <div class="is-slider__item">
        <div class="is-slider__container">
          <div class="is-slider__text">
            <img class="is-slider__smile" src="./../assets/img/smile.svg" />
            <div class="banner-title__primary">
              What can moshn <br />
              do for YOU
            </div>

            <ul class="is-slider__list" role="listitem">
              <li role="list">
                Free up work capital with one monthly payment
              </li>
              <li role="list">
                No down payment, no long term commitment required
              </li>
              <li role="list">
                Keep your fleet young and fresh, keeping up with technology and
                safety advancements
              </li>
            </ul>
          </div>

          <div class="is-slider__block">
            <div class="is-slider__img-wrapper">
              <img src="./../assets/img/slider/slider-3.png" alt="" />
              <p class="is-slider__subtitle">
                Subscription options
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-4">
      <div class="is-slider__item">
        <div class="is-slider__container">
          <div class="is-slider__text">
            <img class="is-slider__smile" src="./../assets/img/smile.svg" />
            <div class="banner-title__primary">
              Your Vehicle,<br />
              Our Service
            </div>

            <ul class="is-slider__list" role="listitem">
              <li role="list">
                Your Vehicle, Our Service - Fleet management software and
                services for the vehicles you own.
              </li>
              <li role="list">
                One off Services
              </li>
            </ul>
          </div>

          <div class="is-slider__block">
            <div class="is-slider__img-wrapper">
              <img src="./../assets/img/slider/slider-4.png" alt="" />
              <p class="is-slider__subtitle">
                Subscription options
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-5">
      <div class="is-slider__item">
        <div class="is-slider__container">
          <div class="is-slider__text">
            <img class="is-slider__smile" src="./../assets/img/smile.svg" />
            <div class="banner-title__primary">
              Fleet management <br />
              Services
            </div>

            <ul class="is-slider__list" role="listitem">
              <li role="list">
                Leave the vehicle care to us. Free up time to focus on your core
                business
              </li>
            </ul>
          </div>

          <div class="is-slider__block">
            <div class="is-slider__img-wrapper">
              <img src="./../assets/img/slider/slider-5.png" alt="" />
              <p class="is-slider__subtitle">
                FLEET MANAGEMENT INSTRUMENTS
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="is-slider__footer">
    <div class="is-slider__container">
      <div class="is-slider__half">
        <button role="button" type="button" class="is-btn-lg" data-modal="form">
          Subscribe
        </button>
      </div>

      <div class="is-slider__half">
        <nav role="navigation" class="is-navigation">
          <ul role="list">
            <li role="listitem">
              <a href="about.html" role="link" class="navigation-link"
                >About MOSHN</a
              >
            </li>
            <li role="listitem">
              <a href="blog.html" role="link" class="navigation-link">Blog</a>
            </li>
            <li role="listitem">
              <a href="#contacts" role="link" class="navigation-link"
                >Contact</a
              >
            </li>
          </ul>
        </nav>

        <div class="is-header__socials">
          <ul role="list" class="is-header__socials">
            <li role="listitem">
              <a href="#" role="link" title="Twitter" class="is-header__social">
                <i class="icon icon-twitter"></i>
              </a>
            </li>
            <li role="listitem">
              <a
                href="#"
                role="link"
                title="Facebook"
                class="is-header__social"
              >
                <i class="icon icon-facebook-light"></i>
              </a>
            </li>
            <li role="listitem">
              <a
                href="#"
                role="link"
                title="Instagram"
                class="is-header__social"
              >
                <i class="icon icon-insta"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
