<div class="are-tabs">
  <div class="are-tabs__wrapper">
    <div class="banner-title__primary">
      Sample moshn calculation
    </div>

    <div class="are-tabs__header">
      <button
        role="button"
        type="button"
        class="are-tabs__button"
        data-tab="cityvan"
      >
        city van
      </button>
      <button
        role="button"
        type="button"
        class="are-tabs__button"
        data-tab="pickup"
      >
        Pickup
      </button>
      <button
        role="button"
        type="button"
        class="are-tabs__button"
        data-tab="van"
      >
        Van
      </button>

      <div id="tabsLine" class="are-tabs__line"></div>
    </div>

    <div class="are-tabs__body">
      <div class="atb-configuration">
        <ul role="list">
          <li role="listitem" class="atb-configuration__item">
            <div class="atb-configuration__img">
              <img src="./../assets/img/tabs/armchair.png" alt="seets icon" />
            </div>

            <p class="atb-configuration__info">
              <span data-tab="cityvan">
                5
              </span>
              <span data-tab="pickup">
                6
              </span>
              <span data-tab="van">
                7
              </span>
              seats
            </p>
          </li>

          <li role="listitem" class="atb-configuration__item">
            <div class="atb-configuration__img">
              <img src="./../assets/img/tabs/engine.png" alt="engine icon" />
            </div>

            <p class="atb-configuration__info">
              <span data-tab="cityvan">
                210
              </span>
              <span data-tab="pickup">
                220
              </span>
              <span data-tab="van">
                230
              </span>
              hp
            </p>
          </li>

          <li role="listitem" class="atb-configuration__item">
            <div class="atb-configuration__img">
              <img src="./../assets/img/tabs/fuel.png" alt="fuel icon" />
            </div>

            <p class="atb-configuration__info">
              <span data-tab="cityvan">
                22
              </span>
              <span data-tab="pickup">
                23
              </span>
              <span data-tab="van">
                24
              </span>
              mpg
            </p>
          </li>
        </ul>
      </div>

      <div class="atb-image">
        <div class="atb-image__wrapper">
          <img
            data-tab="cityvan"
            class="city-van atb-image__item"
            src="./../assets/img/tabs/city-van.png"
            alt="City van"
          />

          <img
            data-tab="pickup"
            class="pickup atb-image__item"
            src="./../assets/img/tabs/pickup.png"
            alt="pickup"
          />

          <img
            data-tab="van"
            class="van atb-image__item"
            src="./../assets/img/tabs/van.png"
            alt="van"
          />
        </div>

        <div class="atb-image__title">
          <span data-tab="cityvan">
            MINIVAN 5 y.O.
          </span>

          <span data-tab="pickup">
            pickup truck 5 y.O.
          </span>

          <span data-tab="van">van</span>
        </div>
      </div>
      <div class="atb-coverage">
        <p>SUBSCRIPTION COVERAGE</p>
        <ul role="list" data-tab="cityvan">
          <li role="listitem">
            - Vehicle cityvan
          </li>
          <li role="listitem">
            - Professional Up fit (Rack, Hitch, Toolbox)
          </li>
          <li role="listitem">
            - Proactive Maintenance
          </li>
          <li role="listitem">
            - Your Logo
          </li>
          <li role="listitem">
            - Dedicated moshn service team
          </li>
          <li role="listitem">
            - Mobile Fleet Application
          </li>
        </ul>

        <ul role="list" data-tab="pickup">
          <li role="listitem">
            - Vehicle pickup
          </li>
          <li role="listitem">
            - Professional Up fit (Rack, Hitch, Toolbox)
          </li>
          <li role="listitem">
            - Proactive Maintenance
          </li>
          <li role="listitem">
            - Your Logo
          </li>
          <li role="listitem">
            - Dedicated moshn service team
          </li>
          <li role="listitem">
            - Mobile Fleet Application
          </li>
        </ul>

        <ul role="list" data-tab="van">
          <li role="listitem">
            - Vehicle van
          </li>
          <li role="listitem">
            - Professional Up fit (Rack, Hitch, Toolbox)
          </li>
          <li role="listitem">
            - Proactive Maintenance
          </li>
          <li role="listitem">
            - Your Logo
          </li>
          <li role="listitem">
            - Dedicated moshn service team
          </li>
          <li role="listitem">
            - Mobile Fleet Application
          </li>
        </ul>
      </div>
    </div>

    <div class="are-tabs__cost">
      Subscription plans starting at
      <span>
        $550.-
      </span>
      Per Month
    </div>
  </div>
</div>
