<h2>
  What Does TESTNET Look Like?
</h2>

<p>
  TESTNET hosts global events to gather a diverse set of key industry stakeholders to identify and share: Trends that are likely to play out in the near term and how we best address them; region and sector specific challenges and strategies from relevant local players; and why those perspectives are important to the space as a whole. Beyond our summits, TESTNET also seeks to provide an “alumni network” to help foster relationships built between members.
</p>
